*a.out
.vscode/c_cpp_properties.json
.vscode/settings.json
*.o
*.a
.DS_Store

push_swap_tester/
push_swap_tester2/
push_swap_tester3/
push_swap_tester4/
pro_checker
push_swap_test.sh
push_swap_tester5/

